<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>회원가입</h5>
    <form action="/register" method="POST">
        <fieldset>
            <label for="">닉네임 <input type="text" name="username"></label>
            <label for="">패스워드 <input type="password" name="password"></label>
            <label for="">확인 <input type="password" name="password2"></label>
            <button type="submit">가입</button>
        </fieldset>
    </form>
</body>
</html>